/*---------------------------------------------------------------
	1 - Reset */
/*--------------------------------------------------------------*/
* {
	outline: none;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.65;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
	text-shadow: none;
}

::selection {
	background-color: #333;
	color: #fff;
	text-shadow: none;
}

a,
a:focus,
a:hover {
	outline: none;
	color: #333;
	text-decoration: none;
}

.section {
	padding-top: 80px;
	padding-bottom: 40px;
}

.has-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.jarallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.overlay-dark,
.overlay-white {
	position: relative;
}

.overlay-dark::before,
.overlay-white::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.overlay-dark::before {
	background-color: rgba(37, 37, 37, 0.8);
}

.overlay-white::before {
	background-color: rgba(255, 255, 255, 0.5);
}

.light-bg {
	background-color: #f6f6f6;
}

.dark-bg {
	background-color: #333;
}

.no-gutter {
	padding: 0;
}

.mt-10 {
	margin-top: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.ml-20 {
	margin-left: 20px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.ml-40 {
	margin-left: 40px;
}

.mb-80 {
	margin-bottom: 80px;
}

.big-num {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-size: 165px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: #fff;
}

@media only screen and (max-width: 991px) {
	.big-num {
		display: none;
	}
}

.mid-num {
	font-size: 45px;
	color: #999;
}

.count {
	font-size: 45px;
}

/*---------------------------------------------------------------
  5 - NavBar */
/*--------------------------------------------------------------*/
.header-1.transparent-header .navbar {
	background-color: transparent;
	border: none;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.header-1.transparent-header .navbar.affix-top .open .dropdown-toggle {
	color: #fff;
}

.header-1.transparent-header .navbar.affix-top .dark-logo {
	display: none;
}

.header-1.transparent-header .navbar.affix {
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.header-1.transparent-header .navbar.affix .white-logo {
	display: none;
}

.header-1 .navbar-nav > li > a {
	position: relative;
	background-color: transparent !important;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	padding: 0 15px;
	line-height: 80px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #ccc;
}

.header-1 .navbar-nav > li > a::after {
	position: absolute;
	content: '';
	width: 0px;
	height: 2px;
	background-color: #fff;
	left: 15px;
	bottom: 15px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.header-1 .navbar-nav > li:hover > a {
	background-color: transparent;
}

.header-1 .navbar-nav > li:hover > a::after {
	width: 30px;
}

.header-1 .navbar-nav > li:hover > a:focus {
	background-color: transparent;
}

.header-1 .navbar-nav > li.active > a {
	color: #fff;
}

.header-1 .navbar-nav > li.active > a:focus {
	background-color: transparent;
	color: #fff;
}

.header-1 .navbar-nav > li.active > a::after {
	width: 30px;
}

.header-1 .navbar-nav > li.active:hover > a {
	color: #fff;
}

.header-1 .navbar-nav > li:hover > a {
	color: #fff;
}

.header-1 .navbar-nav > li.open .dropdown-toggle {
	color: #333;
}

.header-1 .navbar-nav .dropdown-menu {
	background-clip: border-box;
	background-color: #FFF;
	right: 15px;
	border-radius: 0;
	border: none;
	border-top: 2px solid #333;
	padding: 0;
}

.header-1 .navbar-nav .dropdown-menu > li > a {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	padding: 15px 20px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.header-1 .navbar-nav .dropdown-menu > li > a:hover {
	background-color: #333;
	color: #fff;
}

.header-1 .affix .navbar-nav > li > a {
	color: #aaa;
}

.header-1 .affix .navbar-nav > li > a::after {
	background-color: #333;
}

.header-1 .affix .navbar-nav > li.active > a, .header-1 .affix .navbar-nav > li:hover > a {
	color: #333;
}

.header-1 .navbar-header {
	height: 80px;
}

.header-1 .navbar-header .navbar-toggle {
	background-color: #333;
	padding: 10px;
	border: none;
	border-radius: 0;
	margin-top: 23px;
	margin-bottom: 23px;
}

.header-1 .navbar-header .navbar-toggle .icon-bar {
	background-color: #FFF;
	width: 25px;
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.header-1 .navbar-header .navbar-toggle .icon-bar:nth-child(3) {
	opacity: 0;
}

.header-1 .navbar-header .navbar-toggle .icon-bar:nth-child(2) {
	-webkit-transform: rotate(-45deg) translate(-4px, 5px);
	        transform: rotate(-45deg) translate(-4px, 5px);
}

.header-1 .navbar-header .navbar-toggle .icon-bar:nth-child(4) {
	-webkit-transform: rotate(45deg) translate(-4px, -4px);
	        transform: rotate(45deg) translate(-4px, -4px);
}

.header-1 .navbar-header .navbar-toggle.collapsed .icon-bar:nth-child(3) {
	opacity: 1;
}

.header-1 .navbar-header .navbar-toggle.collapsed .icon-bar:nth-child(2), .header-1 .navbar-header .navbar-toggle.collapsed .icon-bar:nth-child(4) {
	-webkit-transform: rotate(0deg) translate(0px);
	        transform: rotate(0deg) translate(0px);
}

.header-1 .navbar-brand {
	padding-top: 15px;
}

.header-1 .navbar-brand img {
	height: 50px;
	width: auto;
}

.homepage-3 .header-1 .navbar-nav > li.active > a,
.homepage-3 .header-1 .navbar-nav > li:hover > a {
	color: #333;
}

.homepage-3 .header-1 .navbar-nav > li.active > a::after,
.homepage-3 .header-1 .navbar-nav > li:hover > a::after {
	background-color: #333;
}

.homepage-3 .header-1.transparent-header .navbar.affix-top .open .dropdown-toggle {
	color: #333;
}

@media only screen and (max-width: 767px) {
	.navbar-collapse {
		background-color: rgba(51, 51, 51, 0.85);
	}
	.navbar-collapse li {
		padding-left: 15px;
	}
	.affix .navbar-collapse {
		background-color: #fff;
	}
}




/*---------------------------------------------------------------
 To Top Button */
/*--------------------------------------------------------------*/
#to-top {
	position: fixed;
	z-index: 3000;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#to-top.totop {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: rgba(51, 51, 51, 0.35);
}

#to-top.totop.style-2 {
	border-radius: 50%;
}

#to-top.totop.style-3 {
	border-radius: 5px;
}

#to-top.show {
	opacity: 1;
}

#to-top:hover {
	background-color: #333;
}

@media only screen and (max-width: 767px) {
	#to-top.show {
		opacity: 0;
	}
}

/*---------------------------------------------------------------
  24 - Hero Area */
/*--------------------------------------------------------------*/
.full-size-hero {
	height: 100vh;
}

.fixed-height-hero {
	height: 700px;
}

.hero-content-wrapper {
	width: 100%;
	height: 100%;
	display: table;
}

.hero-content-wrapper .hero-content {
	display: table-cell;
	vertical-align: middle;
}

.hero-content-wrapper .hero-content h1 {
	font-size: 60px;
}

@media only screen and (max-width: 767px) {
	.hero-content-wrapper .hero-content h1 {
		font-size: 40px;
	}
}

.hero-content-wrapper .hero-content p {
	letter-spacing: 1px;
}

.hero-content-wrapper .hero-content .primary-btn:hover {
	background-color: #FFF;
	color: #333;
}

.fixed-height-hero .hero-content .lead {
	text-transform: uppercase;
}

.overlay-white .hero-content .primary-btn:hover {
	background-color: #333;
	color: #fff;
}

/*---------------------------------------------------------------
  26 - Footer */
/*--------------------------------------------------------------*/
footer {
	background-color: #1a1a1a;
	padding-top: 80px;
}

footer .logo img {
	max-width: 80px;
	height: auto;
	margin-bottom: 20px;
}

footer .follow {
	padding-bottom: 75px;
}

footer .follow h3 {
	margin-bottom: 40px;
	color: #fff;
}

footer .copyright {
	background-color: #181818;
	padding-top: 30px;
	padding-bottom: 20px;
}

footer .copyright p {
	color: #ccc;
}

footer .copyright .heart {
	color: #ec2f2f;
	-webkit-animation: heartBeat 2s infinite;
	        animation: heartBeat 2s infinite;
}

@-webkit-keyframes heartBeat {
	0%, 50%, 100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	5% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	10% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	15% {
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}
}

/*---------------------------------------------------------------
  27 - Home Page Styles */
/*--------------------------------------------------------------*/
/*----------------------------------------------
  homepage-1 Styles */
/*---------------------------------------------*/


/* Start About Me Section */
.about-me {
	padding-bottom: 0;
}

.about-me .profile-wrapper img {
	margin-left: auto;
	margin-right: auto;
}


.about-me h2 {
	line-height: 1.5;
	margin-bottom: 40px;
}

.about-me .btn {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* End About Me Section */
/* Start Work Process Section */


.homepage-1 .work-process .process {
	position: relative;
	z-index: 1;
}

.homepage-1 .work-process p {
	margin: 0;
}

/* End Work Process Section */
/*----------------------------------------------
  homepage-3 Styles */
/*---------------------------------------------*/
/* Start About-Intro Section */
.homepage-3 .about-intro h2 {
	line-height: 1.6;
	margin-bottom: 40px;
}

/* End About-Intro Section */
/*---------------------------------------------------------------
  28 - About Page Styles */
/*--------------------------------------------------------------*/
/* Start About Section */
@media (max-width: 991px) {
	.about-page .about .section-title {
		text-align: center;
	}
}

.about-page .about .profile-wrapper img {
	margin-left: auto;
	margin-right: auto;
}

.about-page .about .profile-info span {
	font-weight: 600;
	color: #333;
	margin-right: 10px;
}

.about-page .about .profile-info a {
	color: #777;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.about-page .about .profile-info a:hover {
	color: #333;
}

.about-page .about .more-info .btn {
	margin-top: 20px;
}

.about-page .about .more-info .btn + .btn {
	margin-left: 20px;
}

.about-us h2 {
	line-height: 1.5;
	margin-bottom: 40px;
}

/* End About Section */
/*---------------------------------------------------------------
  29 - Single Project Page Styles */
/*--------------------------------------------------------------*/
.single-project .project-details {
	margin-bottom: 0;
}

.single-project .project-details li {
	margin-bottom: 20px;
}

.single-project .project-details h5 {
	display: inline-block;
	min-width: 140px;
	padding-right: 10px;
	font-size: 16px;
	margin-bottom: 0;
}

.single-project .project-details span {
	color: #777;
}

.single-project .project-details a {
	color: #777;
	border-bottom: 1px solid #777;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.single-project .project-details a:hover {
	color: #333;
	border-color: #333;
}

.single-project .project-nav {
	margin: 0;
}

.single-project .project-nav li {
	display: inline-block;
	position: relative;
}

.single-project .project-nav li.prev {
	float: left;
}

.single-project .project-nav li.prev i {
	margin-right: 10px;
}

.single-project .project-nav li.next {
	float: right;
}

.single-project .project-nav li.next i {
	margin-left: 10px;
}

.single-project .project-nav li::after {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background-color: #333;
	bottom: -10px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.single-project .project-nav li.prev::after {
	right: 0;
}

.single-project .project-nav li.prev:hover::after {
	width: 100%;
}

.single-project .project-nav li.next::after {
	left: 0;
}

.single-project .project-nav li.next:hover::after {
	width: 100%;
}

.single-project .related-projects {
	padding-top: 40px;
	padding-bottom: 40px;
}

/*---------------------------------------------------------------
  30 - Blog Pages Styles */
/*--------------------------------------------------------------*/
/* Start Blog Posts Page Styles */
.blog-posts-wrapper {
	padding-bottom: 0;
}

/* End Blog Posts Page Styles */
/* Start Single Post Styles */
.blog-post-wrapper .blog-post-content p {
	margin-bottom: 20px;
}

.blog-post-wrapper .social-list .icon {
	width: 40px;
	height: 40px;
	border: 1px solid #333;
	line-height: 38px;
	border-radius: 50%;
	text-align: center;
}

.blog-post-wrapper .tag-share-wrapper {
	padding-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.blog-post-wrapper .tag-share-wrapper .tags h4 {
	margin-bottom: 0;
}

.blog-post-wrapper .tag-share-wrapper .tags a {
	margin-left: 5px;
	color: #aaa;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.blog-post-wrapper .tag-share-wrapper .tags a:hover {
	color: #333;
}

/* End Single Post Styles */
/*---------------------------------------------------------------
  31 - Contact Pages Styles */
/*--------------------------------------------------------------*/
/* Start Contact-1 Page */
.contact-1 .contact-details {
	padding-top: 40px;
}

.contact-1 #map {
	height: 600px;
}

/* End Contact-1 Page */
/* Start Contact-2 Page */
.contact-2 #map {
	height: 400px;
}

.contact-2 .contact-details {
	display: table;
	width: 100%;
	padding-left: 80px;
	padding-right: 80px;
	min-height: 400px;
}

.contact-2 .contact-details .intro {
	display: table-cell;
	vertical-align: middle;
}

.contact-2 .contact-details .intro i {
	margin-right: 10px;
}

.contact-2 #contact-form {
	margin-bottom: 40px;
}

/* End Contact-2 Page */

/*# sourceMappingURL=maps/style.css.map */
